<?xml version="1.0" encoding="UTF-8"?>

<config>
	<config-name>custom</config-name><!-- used to resolve dependency -->
	<depends>zul</depends>
	<version>
		<version-class>lan.test.zk.Version</version-class>
		<version-uid>0.0.1</version-uid>
	</version>

	<listener>
		<listener-class>lan.test.zk.CustomThemeListenerThemeWebAppInit</listener-class>
	</listener>
</config>
