@import "~./custom/zul/less/_header.less";

.quickSearch {
	background-color: blue;

	.z-window-header {
		background-color: blue;
	}
}
.sep {
	.encodeThemeURL(background-image, "~./gray_dot.png");
}

.buttonBox {
	height: 26px;
}




