<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>lan.training.gwt.server.GreetingServiceImpl</servlet-class>
  </servlet>

	<servlet>
		<servlet-name>bookServlet</servlet-name>
		<servlet-class>lan.training.gwt.server.BookRemoteServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/GwtWeb/greet</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>bookServlet</servlet-name>
		<url-pattern>/GwtWeb/book</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GwtWeb.html</welcome-file>
  </welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/gwtApplicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>lan.training.gwt.server.util.SpringApplicationContextListener</listener-class>
	</listener>

</web-app>
